<br />
<img src="~/images/adminarea.png" alt="Área de Administração" />
<div class="container">
	<div class="jumbotron">
		<p>
			<h2>Esta é a área do Administrador</h2>
		</p>
	</div>
	<a asp-area="" asp-controller="Home" asp-action="Index">Volta à Home Page</a>
</div>
